@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,900');

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #222229;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: normal;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.structure {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto 0;
  height: fit-content;
}

.sidebar {
  width: 15%;
  min-width: 90px;
  max-width: 12em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0.5em 0 0.5em;
  padding: 0;
  z-index: 1;
  position: sticky;
  top: 3vh;
  height: 92vh;
  /* transition: all 0.5s ease-out; */
  perspective: 400px;
}

.sidebar-background {
  /* background-color: #85CFFF47; */
  background-image: linear-gradient(to bottom, rgba(133,207,255,0.5) 0%,rgba(112,200,249,0.5) 25%,rgba(91,193,242,0.57) 50%,rgba(34,173,241,0.7) 100%);
  width: 105%;
  height: 100%;
  z-index: 0;
  position: absolute;
  transform: translateX( 0px ) rotateX( 1deg ) rotateY( 15deg ) rotateZ( -1deg );
  /* transition: all 2s ease-in; */
}

.sidebar-bg-2 {
  transform: translateX( -10px ) rotateX( -1deg ) rotateY( -15deg ) rotateZ( 0deg );
}

.sidebar-pulse-1 {
  /* background-image: linear-gradient(to bottom, rgba(102,196,255,0.5) 0%,rgba(90,192,249,0.5) 25%,rgba(71,186,239,0.61) 66%,rgba(24,150,247,0.7) 100%); */
  box-shadow: inset 0 0 30px 60px rgba(255, 50, 0, 1);
}

.menu-wrapper {
  margin: 5em 1em 1em 0em;
  z-index: 10;
}

.section-heading {
  font-size: 1.5em;
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  color: #00233A;
  margin: 0em auto;
}

.menu-wrapper ul  {
  float: left;
  max-width: 100%;
  text-align: center;
  color: #00476A;
}

.menu-wrapper li {
  z-index: 15;
  line-height: 1.3;
  max-width: 100%;
  margin: 1em 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  background: #77D3FF;
  cursor: pointer;
  transition: all 0.5s ease-out;
  /* display: inline; */
}

.menu-wrapper li:hover,
.menu-wrapper li:focus {
  background-color: #005C89;
  color: #A8E3FF;
}

.menu-wrapper li.current {
  background-color: #2626FFe6;
  color: #F4F4FE;
}

.menu-wrapper li:hover.current,
.menu-wrapper li:focus.current {
  background-color: #1B1BB3e6;
  color: #F4F4FE;
}

.menu-wrapper li a {
  position: relative;
  left: -3%;
}

.menu-wrapper li a span {
  padding: 0.3em;
  margin: 0em;
  /* position: relative; */
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}

.sidebar-item {
  margin: 6vw 0.5em 0;
  display: block;
  cursor: pointer;
  z-index: 15;
}

.sidebar-sample {
  width: 4em;
  height: 4em;
}

.sidebar-caption {
  margin-top: 0.2em;
  color: #434343;
  text-align: center;
}

#s1 {
  background-color: #77D3FF;
}

#s2 {
  background-color: #f44336;
}

#s3 {
  background-color: #7d97ad;
}

.mainspace {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 80%;
  max-width: 1200px;
  height: fit-content;
  margin: 0 0 0 0.5em;
}

header {
  width: 100%;
  margin: 1em 0 1em;
  text-transform: uppercase;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  line-height: 1.3;
  min-height: 100px;
}

.header-logo {
  width: 20%;
  max-width: 120px;
  margin: 1em 0.5em 0 0;
}

.header-text {
  text-align: right;
  text-transform: uppercase;
  font-size: 2.7vw;
  white-space: nowrap;
  display: flex;
  flex-flow: column nowrap;
  margin: 0.2em 0.2em 0 0;
}

.header-name {
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  font-family: "Century Gothic", sans-serif;
}

.separator  {
  width: 95%;
  height: 5px;
  border-left: solid 77vw #E71600;
  border-bottom: solid 4px transparent;
  border-top: solid 4px transparent;
  margin: 0 auto 0.5em 0.8vw;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}

.central-img {
  width: 700px;
  max-width: 100%;
  margin: 0.5em auto 1em;
}

.showcase {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  min-height: 18em;
  margin: 0.5em 0 1.5em;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  z-index: 0;
}

.showcase .section-heading {
  width: 100%;
  margin: 0 0 1em;
}

.showcase h3,
.showcase h4 {
  text-transform: uppercase;
  margin: 3px auto;
  font-weight: 500;
  font-family: "Century Gothic", sans-serif;
}

.showcase h3 {
  font-weight: 300;
}

.design-interface {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

.interface-element {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
  margin: 0 0 0.5em;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.1em;
  line-height: 1.3;
}

input[type=number] {
  font-size: 0.8em;
  width: 3em;
  text-align: center;
  vertical-align: baseline;
}

input[type=button] {
  font-size: 0.9em;
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: 0.2em 0 0;
  background-color: #02A2EF;
  padding: 0.1em 0.5em;
  color: #fafafa;
}

p input[type=checkbox] {
  margin: auto 0.2em;
}

input[type=color] {
  margin: 0.2em;
}

input:disabled {
  background: #d6433a;
}

table,
tr,
td {
  border: 1px solid #637189;
}

table {
  border-collapse: collapse;
  margin: 0.5em auto;
}

td {
  height: 18px;
  width: 18px;
  transition: background-color 0.5s;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 0.8em;
  width: 8em;
  background-color: #546072;
  color: white;
  text-align: center;
  padding: 4px 0;
  border-radius: 5px;
  /* Position the tooltip text*/
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: 3em;
  margin-top: 1em;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #546072 transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
td:hover .tooltiptext {
  visibility: visible;
}

.about-txt p {
  margin: 1em;
}

.note {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-style: italic;
  font-weight: lighter;
  cursor: pointer;
  padding: 0.2em;
  color: #d6433a;
}

.features {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1em 0 3em;
  font-size: 1.3em;
}

.features .section-heading {
  margin: 0 auto 0.5em -0.5em;
  padding-left: 3%;
}

.features-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  perspective: 400px;
}

.feature-item {
  width: 31%;
  min-width: 150px;
  max-width: 290px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  font-family: Garamond, sans-serif;
  margin: 0 0.3em 0.5em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

/* .skew {
transform: translateX( 0px ) rotateX( 1deg ) rotateY( 10deg ) rotateZ( -1deg );
} */

.feature-item img {
  width: 100%;
  min-height: 180px;
  max-height: 180px;
  object-fit: cover;
  margin: 0;
  cursor: pointer;
  background-color: #555;
}

.feature-item h3,
p {
  margin: 0;
  max-width: 100%;
}

.feature-item h3 {
  text-transform: uppercase;
  font-family: "Century Gothic", sans-serif;
  font-size: 110%;
}

.owl-wrapper {
  width: 95%;
  margin: 2em;
  min-height: 400px;
  perspective: 22vw;
}

.owl-carousel {
  min-height: 125px;
  margin: 1.5vw 4vw;
  z-index: -1;
}

.owl-carousel .item {
  width: 180px;
  height: 120px;
  background-size: auto 100%;
  /* background-size: 100% auto; */
  /* background-size: contain; */
}

#owl_1, #owl_2 {
  transform-style: preserve-3d;
}

#owl_1 {
  transform: translateX( 7vw ) rotateY( 10deg ) rotateZ( -2deg );
}

#owl_2 {
  transform: translateX( -15vw ) rotateY( -10deg ) rotateZ( 2deg );
}

footer {
  margin: 0 auto 0 0;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  z-index: 1;
}

footer ul {
  display: flex;
  flex-flow: column nowrap;
  width: fit-content;
  justify-content: center;
  font-size: 1.2em;
}

footer li {
  margin: 0.2em;
  padding: 0.2em;
  background-color: #85cfff47;
}

footer li a {
  text-decoration: none;
  vertical-align: top;
  padding: 0.5em;
}
